---
import Layout from '../layouts/Layout.astro';
import { Button } from '$lib/components/ui/button';
import "$lib/styles/app.css";
---

<Layout title="Welcome to Astro">
	<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore animi accusantium pariatur! Impedit repudiandae vel porro dolore provident blanditiis? Facilis.</p>
</Layout>
