---
import Layout from '../layouts/Layout.astro';
import { Button } from '$lib/components/ui/button';
import { Badge } from "$lib/components/ui/badge";
import { Icon } from 'astro-icon/components'
import Card from '../components/GithubCard.svelte';
import "$lib/styles/app.css";
let props = {
  repo: "Test",
  description: "My project is built using nothing but air",
  lang: "ts",
  url: "github.com/blucin/my-project"
}
---

<Layout title="Portfolio">
  <h3 class="scroll-m-20 mt-6 text-2xl font-semibold tracking-tighter">Hi, I am Akshar! 👋</h3>
  <p class="mt-2">I am a dedicated software developer specializing in various modern technologies and frameworks.</p>
  <ul class="my-1 ml-6 list-disc [&>li]:mt-2">
    <li>My expertise lies in web development using <Badge><Icon name="skill-icons:nextjs-light" class="mr-1 h-4 w-4" />Next.js</Badge>, <Badge><Icon name="skill-icons:svelte" class="mr-1 h-4 w-4" />SvelteKit</Badge>, and <Badge><Icon name="skill-icons:astro" class="mr-1 h-4 w-4" />Astro</Badge>, all powered by <Badge><Icon name="skill-icons:typescript" class="mr-1 h-4 w-4" />TypeScript</Badge>.</li> 
    <li>In addition, I possess substantial experience in system and backend programming with <Badge><Icon name="skill-icons:golang" class="mr-1 h-4 w-4" />Go</Badge>, making me adept at creating robust and efficient server-side applications.</li>
    <li>My DevOps skills encompass tools like <Badge><Icon name="skill-icons:docker" class="mr-1 h-4 w-4" />Docker</Badge>, <Badge><Icon name="skill-icons:docker" class="mr-1 h-4 w-4" />Docker Compose</Badge>, and CI/CD (<Badge><Icon name="skill-icons:githubactions-dark" class="mr-1 h-4 w-4" />Github Actions</Badge>), ensuring smooth deployment and maintenance workflows. Furthermore, I have a strong foundation in database management, both relational (<Badge><Icon name="skill-icons:mysql-dark" class="mr-1 h-4 w-4" />MySQL</Badge>) and NoSQL (<Badge><Icon name="skill-icons:mongodb" class="mr-1 h-4 w-4" />MongoDB</Badge>), allowing me to design and implement efficient data storage solutions.</li>
  </ul>

  <Card props={props}></Card>
</Layout>
