---
import NavBar from "../components/Nav.svelte";
import { ModeWatcher } from "mode-watcher";
import ModeToggler from "../components/ModeToggler.svelte"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="portfolio application" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio</title>
	</head>
  <body class="antialiased max-w-2xl mb-40 flex flex-col md:flex-row mx-4 mt-8 lg:mx-auto">
    <main class="flex-auto min-w-0 flex flex-col px-2 md:px-0">
      <ModeWatcher client:load />
      <ModeToggler client:load />
      <slot />
    </main>
    <footer class="fixed z-20 bottom-0 left-0 right-0 text-center p-1 bg-background/5 text-xs text-gray-700 dark:text-gray-500 border-2 w-full backdrop-blur-xl"> 
      © 2024 Akshar Patel. All rights reserved.
    </footer>
  </body>
</html>
